.navigation-wrapper .sticky-wrapper.is-sticky .navigation {
  width: 100% !important;
  max-width: 100% !important;
}
.navigation-wrapper .sticky-wrapper.is-sticky .navigation ul {
  max-width: 1140px;
  margin: 0 auto !important;
}
